$color-btn: #143f84;
$color-th: #989ba6;
.all_users {
	padding: 5rem;
	background-image: linear-gradient(45deg, #f8f3ea, #d4fcf2);
	.container {
		background-color: #fff;
		border-radius: 2rem;
		width: 100%;
		height: 100%;
	}
	.wrapper-pd {
		padding: 2rem 4rem;
	}
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.title {
			font-size: 4rem;
			line-height: 1.2;
		}
		button {
			padding: 0.5rem 1rem;
			background-color: $color-btn;
			color: #fff;
			border: none;
			border-radius: 0.4rem;
			cursor: pointer;
		}
	}
	.amount_user {
		margin-bottom: 1rem;
		font-weight: 400;
		font-size: 1.4rem;
	}
	.search {
		position: relative;
		background-color: #fafbff;
		padding: 1rem;
		margin-bottom: 1rem;
		i {
			position: absolute;
			top: 50%;
			left: 2rem;
			transform: translateY(-50%);
		}
		input {
			width: 100%;
			padding: 0.5rem 3.2rem;
			border-radius: 0.4rem;
			border: 1px solid #e0e1e9;
			padding-left: 3.5rem;
			box-sizing: border-box;
		}
	}
	.sticky {
		overflow-x: auto;
		margin-top: 2rem;
	}
	table {
		border-collapse: collapse;
		width: 100%;
		th {
			text-align: left;
			color: $color-th;
			font-weight: 500;
			font-size: 1.8rem;
			white-space: nowrap;
			+ th {
				padding-left: 1rem;
			}
			&:first-child {
				position: sticky;
				top: 0;
				left: 0;
				background-color: #fff;
			}
		}
		tbody {
			tr {
				border-top: 1px solid #e0e1e9;
			}
			td + td {
				padding-left: 1rem;
			}
			td {
				padding: 1rem 0;
				font-weight: 300;
				background-color: #fff;
				&:first-child {
					position: sticky;
					top: 0;
					left: 0;
					padding-right: 1rem;
				}
			}
		}
	}
}
